{% extends "template.html" %}

{% block ptitle %}Image {{image.id}} : FRAM Archive{% endblock %}

{% block title %}Image {{image.id}}{% endblock %}

{% block content %}

  <div class="text-center">
    <a href="{% url 'image_full' image.id %}" title="Click for a full-size image"><img src="{% url 'image_view' image.id %}" class="img-thumbnail center-block"/></a>
  </div>

  <div class="text-center">
    <a href="{% url 'image_full' image.id %}" title="Click for a full-size image"><i class="fa fa-expand"></i> Full-size image</a>
    <span> - </span>
    <a href="{% url 'image_full' image.id %}?raw=1" title="Click for a raw image"><i class="fa fa-file-image-o"></i> Raw image</a>
    <span> - </span>
    <a href="{% url 'image_download' image.id %}" title="Click to download original file"><i class="fa fa-download"></i> Download FITS</a>
  </div>

<table class="table table-sm table-striped">
  <tr><td>Id:</td><td colspan=2>{{image.id}}</td></tr>
  <tr><td>Filename:</td><td colspan=2><a href="{% url 'image_download' image.id %}" title="Download FITS"><span class="glyphicon glyphicon-floppy-disk"></span> {{ image.filename }}</a></td></tr>

  <tr><td>Time:</td><td colspan=2>{{image.time|date:"Y-m-d H:i:s"}} UT</td></tr>

  <tr><td>Night:</td><td colspan=2><a href="{% url 'images' %}?night={{ image.night }}" title="All images from this night">{{image.night}}</a></td></tr>

  <tr><td>Site:</td><td colspan=2><a href="{% url 'images' %}?night={{ image.night }}&site={{ image.site }}" title="All images from this night and site">{{image.site}}</td></tr>

    <tr><td>CCD:</td><td colspan=2><a href="{% url 'images' %}?night={{ image.night }}&site={{ image.site }}&ccd={{ image.ccd }}" title="All images from this night and site and ccd">{{image.ccd}}</a> / <a href="{% url 'images' %}?night={{ image.night }}&site={{ image.site }}&ccd={{ image.ccd }}&serial={{ image.serial }}" title="All images from this night and site and ccd">{{ image.serial }}</td></tr>

  <tr><td>Type:</td><td colspan=2><a href="{% url 'images' %}?night={{ image.night }}&site={{ image.site }}&ccd={{ image.ccd }}&type={{ image.type }}" title="All images from this night and site and ccd of this type">{{ image.type }}</td></tr>

  <tr><td>Filter:</td><td colspan=2><a href="{% url 'images' %}?night={{ image.night }}&site={{ image.site }}&ccd={{ image.ccd }}&filter={{ image.filter }}" title="All images from this night and site and ccd in this filter">{{  image.filter }}</td></tr>

  <tr><td>Target:</td><td colspan=2><a href="{% url 'images' %}?night={{ image.night }}&site={{ image.site }}&ccd={{ image.ccd }}&target={{ image.target }}" title="All images from this night and site and ccd in this target">{{  image.target }}</td></tr>

  <tr><td>RA:</td><td colspan=2>{{image.ra}}</td></tr>
  <tr><td>Dec:</td><td colspan=2>{{image.dec}}</td></tr>
  {% if dark %}<tr><td>Dark frame:</td><td colspan=2><a href="/images/{{ dark_id }}/" title="View image"><span class="glyphicon glyphicon-info-sign"></span> {{dark}}</a></td></tr>{% endif %}
  {% if flat %}<tr><td>Flat frame:</td><td colspan=2><a href="/images/{{ flat_id }}/" title="View image"><span class="glyphicon glyphicon-info-sign"></span> {{flat}}</a></td></tr>{% endif %}
</table>

<table class="table table-sm table-striped">
  {% if keywords %}
  {% for kw in keywords %}
  <tr {% if kw.key|lower == 'exposure' or kw.key|lower == 'shutter' or kw.key|lower == 'filter' %}class='success'{% endif %}>
    <td>{{kw.key}}:</td>
    <td>{{kw.value}}</td>
    <td>{{kw.comment}}</td>
  </tr>
  {% endfor %}
  {% else %}
  {% for key,value in image.keywords.items %}
  <tr><td>{{key}}:</td><td colspan=2>{{value}}</td></tr>
  {% endfor %}
  {% endif %}
</table>

{% endblock %}
